@media only screen and (max-width: 1025px) {
  .main_banner .guide_img {
    left: calc(50% + 10px);
  }
  .people .container .text_container p {
    font-size: 28px;
  }
  .culture .container .text_container p {
    font-size: 28px;
  }
  .politics .container .text_container p {
    font-size: 28px;
  }
  footer .container {
    padding: 0 10px;
  }
}

/* 993px */

@media only screen and (max-width: 993px) {
  .main_banner .guide_img {
    left: calc(50% + 6px);
  }  
  .owl-carousel .owl-item img {
    display: inline-block;
  }
  footer {
    padding: 50px 16px;
  }
}

@media only screen and (max-width: 835px) {
  .main_banner {
    display: block;
  }
  .main_banner .container {
    margin: 10px auto;
    text-align: center;
  }
  .main_banner .guide_img {
    position: inherit;
  }
  header .logo img {
    display: none;
  }
  .people .container .text_container {
    padding: 40px 0px 0px 0;
  }
  .culture .container .text_container {
    padding: 65px 0 0 0;
  }
  .politics .container .text_container {
    padding: 70px 0 0 0;
  }
  .interviews {
    min-height: 2050px;
  }
  .interviews .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
  }
  .interviews .container article {
    position: inherit;
    margin-bottom: 40px;
  }
  .features {
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 821px) {

}
@media only screen and (max-width: 769px) {
  /* menu css */

  .nav {
    position: fixed;
    z-index: 98;
  }

  .nav__content {
    position: fixed;
    visibility: hidden;
    top: 50%;
    left: 0;
    margin-top: 20px;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
  }

  .nav__list {
    display: block;
  }

  .nav__list-item {
    position: relative;
    display: block;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
    opacity: 0;
    text-align: center;
    color: #fff;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 8vh;
    font-weight: 900;
    line-height: 1.15;
    letter-spacing: 3px;
    -webkit-transform: translate(100px, 0%);
    transform: translate(100px, 0%);
    -webkit-transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.2s ease, transform 0.3s ease;
    transition: opacity 0.2s ease, transform 0.3s ease,
      -webkit-transform 0.3s ease;
    margin-top: 0;
    margin-bottom: 0;
  }

  .nav__list-item a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 900;
    z-index: 2;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }

  .nav__list-item a:after {
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -2px;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: #8167a9;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }

  .nav__list-item a:hover:after {
    height: 4px;
    opacity: 1;
    left: 0;
    width: 100%;
  }

  .nav__list-item a:hover {
    color: rgba(255, 255, 255, 1);
  }

  .nav__list-item.active-nav a {
    color: rgba(255, 255, 255, 1);
  }

  .nav__list-item.active-nav a:after {
    height: 4px;
    opacity: 1;
    left: 0;
    width: 100%;
  }

  /* #Navigation
================================================== */

  .cd-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .header-wrapper {
    position: relative;
    width: calc(100% - 100px);
    margin-left: 50px;
  }

  .nav-but-wrap {
    display: inline;
    position: relative;
    display: block;
    margin-top: -32px;
    transition: all 0.3s ease-out;
    z-index: 99;
  }

  .menu-icon {
    height: 30px;
    width: 30px;
    position: relative;
    top: 19px;
    z-index: 2;
    cursor: pointer;
    display: block;
  }

  .menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: black;
    margin-bottom: 7px;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
    transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, background-color 0.5s ease;
    transition: transform 0.2s ease, background-color 0.5s ease,
      -webkit-transform 0.2s ease;
  }

  .menu-icon__line-left {
    width: 16.5px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }

  .menu-icon__line-right {
    width: 16.5px;
    float: right;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
  }

  .menu-icon:hover .menu-icon__line-left,
  .menu-icon:hover .menu-icon__line-right {
    width: 30px;
  }

  .nav__list {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 2;
  }

  .nav:before,
  .nav:after {
    content: "";
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(20, 21, 26, 0.6);
    border-bottom-left-radius: 200%;
    z-index: -1;
    -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
      border-radius linear 0.8s;
    transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
      border-radius linear 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
      border-radius linear 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
      -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s,
      border-radius linear 0.8s;
    -webkit-transform: translateX(100%) translateY(-100%);
    transform: translateX(100%) translateY(-100%);
  }

  .nav:after {
    background: rgba(204, 204, 204, 100);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  .nav:before {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  body.nav-active .nav__content {
    visibility: visible;
  }

  body.nav-active .menu-icon__line {
    background-color: #fff;
    -webkit-transform: translate(0px, 0px) rotate(-45deg);
    transform: translate(0px, 0px) rotate(-45deg);
  }

  body.nav-active .menu-icon__line-left {
    width: 15px;
    -webkit-transform: translate(2px, 4px) rotate(45deg);
    transform: translate(2px, 4px) rotate(45deg);
  }

  body.nav-active .menu-icon__line-right {
    width: 15px;
    float: right;
    -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
    transform: translate(-3px, -3.5px) rotate(45deg);
  }

  body.nav-active .menu-icon:hover .menu-icon__line-left,
  body.nav-active .menu-icon:hover .menu-icon__line-right {
    width: 15px;
  }

  body.nav-active .nav {
    visibility: visible;
  }

  body.nav-active .nav:before,
  body.nav-active .nav:after {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
    border-radius: 0;
  }

  body.nav-active .nav:after {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

  body.nav-active .nav:before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  body.nav-active .nav__list {
    display: block;
  }

  body.nav-active .nav__list-item {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: opacity 0.3s ease, color 0.3s ease,
      -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease,
      -webkit-transform 0.3s ease;
  }

  body.nav-active .nav__list-item:nth-child(0) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
  }

  body.nav-active .nav__list-item:nth-child(1) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
  }

  body.nav-active .nav__list-item:nth-child(2) {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
  }

  body.nav-active .nav__list-item:nth-child(3) {
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
  }

  body.nav-active .nav__list-item:nth-child(4) {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
  }

  body.nav-active .nav__list-item:nth-child(5) {
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s;
  }

  body.nav-active .nav__list-item:nth-child(6) {
    -webkit-transition-delay: 1.3s;
    transition-delay: 1.3s;
  }

  body.nav-active .nav__list-item:nth-child(7) {
    -webkit-transition-delay: 1.4s;
    transition-delay: 1.4s;
  }

  body.nav-active .nav__list-item:nth-child(8) {
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
  }

  body.nav-active .nav__list-item:nth-child(9) {
    -webkit-transition-delay: 1.6s;
    transition-delay: 1.6s;
  }

  body.nav-active .nav__list-item:nth-child(10) {
    -webkit-transition-delay: 1.7s;
    transition-delay: 1.7s;
  }

  .switch-wrap {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    transform: translateY(-50%);
    width: 100%;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
    margin: 0 auto;
    text-align: center;
  }

  .switch-wrap h1 {
    font-weight: 900;
    font-size: 46px;
    line-height: 1;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
  }

  @media screen and (max-width: 580px) {
    .switch-wrap h1 {
      font-size: 32px;
    }
  }

  .switch-wrap p {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1;
    color: #8167a9;
    text-align: center;
    margin-top: 15px;
  }

  .switch-wrap p span {
    position: relative;
  }

  .switch-wrap p span:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -4px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
  }

  .switch-wrap p span:nth-child(2):before {
    opacity: 0;
  }

  #switch,
  #circle {
    cursor: pointer;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
  }

  #switch {
    width: 60px;
    height: 8px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000;
    border-radius: 27px;
    background: #8167a9;
    position: relative;
    display: inline-block;
  }

  #circle {
    position: absolute;
    top: -11px;
    left: -13px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25),
      0 0 0 1px rgba(26, 53, 71, 0.07);
    background: #fff;
  }

  .switched {
    border-color: #8167a9 !important;
    background: #000 !important;
  }

  .switched #circle {
    left: 43px;
    background: #000;
  }

  /* #Light
================================================== */

  body.light {
    background-color: #fff;
  }

  body.light .cursor,
  body.light .cursor2,
  body.light .cursor3 {
    mix-blend-mode: normal;
  }

  body.light .cursor2 {
    border: 2px solid #1f2029;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }

  body.light .cursor2.hover {
    background: rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-color: transparent;
  }

  body.light .logo-wrap a {
    color: #1f2029;
  }

  body.light .menu-icon__line {
    background-color: #1f2029;
  }

  body.light .nav:before {
    background: rgba(235, 235, 235, 0.6);
  }

  body.light .nav:after {
    background: rgba(250, 250, 250, 1);
  }

  body.light .nav__list-item a {
    color: rgba(0, 0, 0, 0.6);
  }

  body.light .nav__list-item a:hover {
    color: #1f2029;
  }

  body.light .nav__list-item.active-nav a {
    color: #1f2029;
  }

  body.light .switch-wrap h1 {
    color: #000;
  }

  body.light .switch-wrap p span:nth-child(2):before {
    opacity: 1;
    background-color: #000;
  }

  body.light .switch-wrap p span:nth-child(1):before {
    opacity: 0;
  }

  /* #Link to page
================================================== */

  .link-to-portfolio {
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 200;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
    background-position: center center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-image: url("https://assets.codepen.io/1462889/fcy.png");
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
    transition: opacity 0.2s, border-radius 0.2s, box-shadow 0.2s;
    transition-timing-function: ease-out;
  }

  .link-to-portfolio:hover {
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
  }

  header nav ul li {
    margin-right: 0;
  }
  /* all media */

  header .container {
    display: flex;
  }
  header {
    background-color: #fff;
  }
  .people .container .text_container {
    padding: 0;
  }
  .people .container .text_container p {
    font-size: 24px;
  }
  .culture .container .text_container {
    padding: 9px 0 0 0;
  }
  .politics .container .text_container {
    padding: 29px 0 0 0;
  }
}

@media only screen and (max-width: 429px) {
  /* header */
  .header-wrapper {
    width: calc(100% - 10px);
    margin-left: 0;
  }
  /* main_baner */
  .main_banner .guide_img {
    max-width: 400px;
  }
  /* people */
  .people .container {
    flex-direction: column;
  }
  .people .container img {
    margin: auto;
    margin-bottom: 20px;
  }
  .people .container .text_container  {
    text-align: center;
  }
  /* culture */
  .culture .container {
    flex-direction: column-reverse;
  }
  .culture .container img {
    margin: auto;
    margin-bottom: 20px;
  }
  .culture .container .text_container  {
    text-align: center;
  }
  /* politics */
  .politics .container {
    flex-direction: column;
  }
  .politics .container img {
    margin: auto;
    margin-bottom: 20px;
  }
  .politics .text_container  {
    text-align: center;
  }
  /* feaures_item */
  .features .container .features_item article {
    width: 50%;
  }
  .features .container .features_item article p {
    font-size: 20px;
  }
  /* footer */
  footer .container .licens {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 415px) {
  /* header */
  .header-wrapper {
    position: relative;
    width: calc(100% - -13px);
    margin-left: 0;
  }
  /* main_banner */
  .main_banner {
    padding: 50px 0 10px;
  }
  .main_banner .container h1 {
    font-weight: 700;
    font-size: 47px;
  }
  /* description */
  .description {
    padding-bottom: 100px;
  }
  /* guides */
  .guides h2 {
    /* margin-bottom: 0; */
  }
  /* contact */
  .contact .contact_container p {
    font-size: 17px;
    margin-bottom: 25px;
    max-width: 333px;
    margin: 25px auto;
  }
  /* footer */
  footer .container .container_content .right_first {
    display: block;
  }
  footer .right_first--firstlist {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 413px) {

}
@media only screen and (max-width: 391px) {
  .people .container img {
    max-width: 300px;
    max-height: 420px;
  }
  .culture .container img {
    max-width: 300px;
    max-height: 420px;
  }
  .politics .container img {
    max-width: 300px;
    max-height: 420px;
  }
}
@media only screen and (max-width: 376px) {
  .main_banner .guide_img {
      max-width: 350px;
  }
  .guides .carousel_guides img {
    margin: 0 auto;
  }
  footer .container .container_content {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  } 
  footer .container .container_content .networks {
    display: flex;
    justify-content: center;
    margin-inline: 97px;
  }
  footer .container .container_content .networks li {
    margin: auto;
  }
  .contact .contact_container form {
    display: block;
    max-width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .contact .contact_container form ul .form__name {
    display: block;
    text-align: center;
  }
  .contact .contact_container form ul .form__email {
    display: block;
    margin-bottom: 25px;
    text-align: center;
  }
}
@media only screen and (max-width: 321px) {
  .main_banner .guide_img {
      max-width: 287px;
  }
  .people .container img {
    margin: 0 auto;
    max-width: 291px;
  }
  .culture .container img {
    margin: 0 auto;
    max-width: 291px;
  }
  .politics .container img {
    margin: 0 auto;
    max-width: 291px;
  }
  .interviews .container article img {
    margin-bottom: 35px;
    max-width: -webkit-fill-available;
  }
}
@media only screen and (max-width: 281px) {
  .main_banner .guide_img {
    max-width: 263px;
  }
  .people .container img {
    inline-size: inherit;
    max-height: 354px;
  }
  .culture .container img {
    inline-size: inherit;
    max-height: 354px;
  }
  .politics .container img {
    inline-size: inherit;
    max-height: 354px;
  }
  .features .container h4 {
    font-size: 21px;
  }
  .interviews .container article h3 {
    margin-bottom: 75px;
  }
  .interviews {
    min-height: 1815px;
  }.features .container .features_item article p {
    font-size: 14px;
  }
}
/* .contact .contact_container form {
    height: 125px;
    width: 166px;
    margin: 0 auto;
    flex-direction: column;
    margin: 0 auto;
} */