@import 'reset';

 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 400;
 }
header .logo {
  position: absolute;
  left: calc(50% - 40px);
  top: 16px;
}
header nav ul li {
  margin-right: 28px;
}
header nav ul li a{
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1C1B1B;
}
.container {
  max-width: 1064px;
  margin: auto;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 6px;
}
header .container ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header .networks li{
  margin-left: 15px;
}
header .networks li .img_shop{
position: relative;
transform: translate(-3px, -1px);
}
/* main banner */

.main_banner {
  background: #F0EFEB;
  padding: 90px 0;
  position: relative;
}
.main_banner h1 {
font-weight: 700;
font-size: 60px;
line-height: 70px;
color: #000000;
margin-bottom: 42px;
}
.main_banner .container p {
font-size: 24px;
line-height: 28px;
color: #000000;
margin-bottom: 26px;
}
.main_banner .container a {
background: #000000;
border: 1px solid #000000;
border-radius: 100px;
font-size: 17px;
line-height: 20px;
color: #FFFFFF;
text-decoration: none;
padding: 8px 23px;
}
.main_banner .guide_img {
position: absolute;
left: calc(50% + 60px);
top: 9px;
}

/* description*/

.descrition {
  padding: 60px 0 88px;
}
.descrition .container {
  max-width: 692px;
}
.descrition h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 27px;
}
.descrition p {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.descrition .descrition_text {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  margin-bottom: 47px;
}

/* section guides */

.guides {
  max-width: 100%;
  margin: auto;
  padding: 60px 0 248px;
}
.guides h2{
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 52px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}
.guides .carousel_guides {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.guides .carousel_guides img {
  margin-bottom: 27px;
  max-width: 309px;
}
.guides .carousel_guides .description{
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 17px;
}
.guides .carousel_guides .price {
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}
.guides .carousel_guides a {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}
.owl-carousel .owl-item img {
 display: inline;
}
.owl-nav .owl-prev {
  position: absolute;
  left: -66px;
  top: 181px;
  width: 50px;
  height: 50px;
  background-color: #000000!important;

}
.owl-nav .owl-next {
  position: absolute;
  left: 1079px;
  top: 181px;
  width: 50px;
  height: 50px;
  background-color: #000000!important;
  
}